@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.doctor-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  /* grid-row: 1/3 span; */
  /* grid-gap: 50px; */
  justify-content: space-around;
  /* margin-bottom: rem; */
  font-family: "Poppins", sans-serif;
}

.container-list {
  /* grid-column: 1/3 span; */
  display: flex;
  /* border: 1px solid #b7278b; */
  background-color: white;
  box-shadow: 0 10 10 1px rgba(100, 100, 100, 0.37);
  padding: 1rem 1rem;
  border-radius: 4px;
  flex-direction: column;
  width: 30%;
  margin: 1rem;
}
.upper-container-list {
  display: flex;
  align-items: center;
}

.upper-container-list img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.container-right-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.container-right-list h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.container-right-list h4 {
  font-size: 1rem;
  font-weight: 500;
  color: gray;
}

.container-right-list .star-list {
  width: 100%;
  margin-top: 1rem;
}

.container-right-list .star-list img {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 5px;
}

.lower-container-list {
  display: flex;
  margin-top: 1rem;
}

.lower-container-list button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #b7278b;
  color: white;
  margin-right: 2rem;
  cursor: pointer;
}

.lower-container-list button:hover {
  box-shadow: 0 1px 1px 0 #fd1cb975, 0 1px 3px 1px #fd1cb941;
}

.lower-container-list h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media all and (max-width: 500px) {
  .doctor-list {
    flex-direction: column;
  }
  .container-list {
    width: 100%;
    margin: 0rem;
    margin-bottom: 1rem;
  }
}
