@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.success {
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  padding: 30vh 10vw;
  align-items: center;
  justify-content: space-around;
}

.success .go {
  color: #b7278b;
  /* float: left; */
  margin-bottom: 0.6rem;
  margin-right: 15rem;
}

.success .go a {
  text-decoration: none;
  color: #b7278b;
}

.success .details {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-right: 1px solid #b7278b; */

  padding: 2rem 2rem;
  width: 25vw;
  background-color: white;
}

.success .details h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.success .details .detail-individual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  margin-bottom: 1rem;
}

.success .details .detail-individual h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #b7278b;
}

.success .details .detail-individual p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.success .details h2 {
  font-size: 1rem;
  color: #b7278b;
  /* border: 1px solid #b7278b; */
  padding: 0rem 0rem;
  width: 100%;
  border-radius: 4px;
}

.success img {
  width: 40vw;
  height: 40vh;
}

@media all and (max-width: 500px) {
  .success {
    flex-direction: column;
    padding: 0rem 1rem;
    height: 100vh;
    /* align-items: center; */
    justify-content: center;
  }
  .success img {
    display: none;
  }
  .success .details {
    width: 100%;
    height: auto;
  }
  .success .details .details-list {
    width: 100%;
  }
  .success .details .detail-individual {
    width: 100%;
    margin-bottom: 1rem;
  }
}
