@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.success {
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  padding: 30vh 10vw;
  align-items: center;
  justify-content: space-around;
}

.success .details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-right: 1px solid #b7278b;
  padding-right: 5rem;
}

.success .details h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.success .details .detail-individual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  margin-bottom: 1rem;
}

.success .details .detail-individual h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #b7278b;
}

.success .details .detail-individual p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.success .details h2 {
  font-size: 1rem;
  color: #b7278b;
  border: 1px solid #b7278b;
  padding: 0.5rem 1rem;
  width: 40vw;
  border-radius: 4px;
}

.success img {
  width: 40vw;
  height: 40vh;
}
