@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.verify {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30vh 10vw;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}

.verify .details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* border-right: 1px solid #b7278b; */
  background-color: white;
  box-shadow: 0 0 0 10 rgba(100, 100, 100, 1);
  padding: 2rem 4rem;
  border-radius: 4px;
}

.verify .details h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.verify .details .detail-individual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  margin-bottom: 1rem;
}

.verify .details .detail-individual h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #b7278b;
}

.verify .details .detail-individual p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
