@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.date {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  /* border: 1px solid black; */
  background-color: white;
  margin-top: 2rem;
  border-radius: 4px;
}

.date-list {
  /* display: flex; */
  width: 100%;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  /* border: 1px solid black; */
  /* align-items: center; */
}

.date-list form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date-list form div {
  margin: 0rem;
  padding: 0rem;
  width: 100%;
}

.date-list form div label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: #f8edf5; */
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 0.6rem 0rem;
  cursor: pointer;
}

.date-list form div .FieldClassLogin1 {
  display: none;
}

.date-list form div label .week {
  font-size: 1.5rem;
  /* text-align: center; */
  font-weight: bold;
}

.date-list form div label .day {
  font-size: 0.8rem;
}
/* .date-list form div input:checked ~ label {
  background-color: #b7278b;
  color: white;
} */

.primary {
  background-color: #b7278b;
  color: white;
}
.secondary {
  background-color: #f8edf5;
  color: black;
}

.time-list {
  width: 100%;
  padding: 1rem 1rem;
  min-height: 5rem;
}

.time-list form {
  display: flex;
  flex-wrap: wrap;
}

.time-list form .li {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  /* border: 1px solid black; */
  background-color: #f8edf5;
  border-radius: 50px;
}

.li label input:checked ~ label {
  color: white;
  background-color: #b7278b;
}

.btn-class {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.btn,
.btn-appointment {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  outline: none;
  border: none;
  /* background-color: #b7278b; */
  margin-right: 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.btn-primary,
.btn-appointment {
  color: white;
  background-color: #b7278b;
}

.btn-appointment {
  margin-top: 6rem;
  display: block;
  position: absolute;
  /* top: 20px; */
  z-index: 100;
}

.btn-appointment a {
  color: white;
}

.btn-secondary {
  color: black;
  background-color: #eebde1;
}
@media all and (max-width: 500px) {
  .date-list form div label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #f8edf5; */
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0.6rem 0rem;
    cursor: pointer;
  }
  .date-list form div label .week {
    font-size: 1rem;
    /* text-align: center; */
    font-weight: bold;
  }

  .date-list form div label .day {
    font-size: 0.5rem;
  }
  .time-list form .li {
    margin: 0.2rem 0.2rem;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    /* border: 1px solid black; */
    background-color: #f8edf5;
    border-radius: 50px;
  }
  .btn-appointment {
    margin-top: 0rem;
    display: block;
    position: absolute;
    bottom: 50px;
    z-index: 100;
  }
}
