@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.LoginFormMerge {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10vh; */
  border: 1px solid black;
  /* border-color: gray; */
  padding: 30vh 5vw;
  /* box-shadow: 0.2rem 0.3rem 1.2rem rgb(219, 217, 217); */
  width: 100%;
  height: 100vh;
}
.FormForLogin {
  position: relative;
  top: 0;
  left: 0;
  width: 25vw;
  margin-right: 0rem;
  padding: 3rem 4rem;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 0 10 rgba(100, 100, 100, 1);
  border-radius: 4px;
  /* border: 1px solid #dadce0; */
  /* -webkit-border-radius: 8px; */
  /* border-radius: 8px; */
}
.FormForLogin h1 {
  font-size: 1rem;
  color: #b7278b;
  margin-top: 5rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
/* login box  */
.formLogin {
  position: relative;
}

/* field box */
.FieldClassLogin {
  width: 100%;
  padding: 0.6rem 0px;
  padding-bottom: 0.3rem;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 1px solid #b7278b;
  color: #b7278b;
  background: transparent;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}
.FieldClassLogin:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #b7278b;
}
/* label */
.FormForLogin .formLogin label {
  position: absolute;
  left: -1px;
  top: -3px;
  padding: 0.625rem 0;
  color: #b7278b;
  pointer-events: none;
  font-size: 1rem;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

.FormForLogin .formLogin .FieldClassLogin:focus ~ label,
.FormForLogin .formLogin .FieldClassLogin:not([value=""]) ~ label {
  left: -2px;
  top: -1.125rem;
  color: #b7278b;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  /* background: transparent; */
  height: 10px;
  font-size: 0.75rem;
}
/* button */
.buttonLogin {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  background-color: #b7278b;
  /* background: transparent; */
  /* border: 2px solid #b7278b; */
  border: none;
  color: white;
  border-radius: 0.312rem;
  float: right;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.buttonLogin:hover {
  /* border-color: #b7278b; */
  box-shadow: 0 1px 1px 0 #fd1cb975, 0 1px 3px 1px #fd1cb941;
  text-shadow: 0px 1px 1px #fd1cb975;
}

.image {
  width: 50vw;
  height: 50vh;
  margin-top: 4rem;
}

.image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
